absl-py==1.0.0; python_version >= "3.6"
aiohttp-retry==2.4.6; python_version >= "3.7"
aiohttp==3.8.1; python_version >= "3.7"
aiosignal==1.2.0; python_version >= "3.7"
alembic==1.7.7; python_version >= "3.7"
antlr4-python3-runtime==4.8; python_version >= "3.6"
anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.7"
appdirs==1.4.4; python_version >= "3.7"
appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.8" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0; python_version >= "3.7"
argon2-cffi==21.3.0; python_version >= "3.7"
astroid==2.11.2; python_full_version >= "3.6.2" and python_version < "4.0"
asttokens==2.0.5; python_version >= "3.8"
astunparse==1.6.3
async-timeout==4.0.2; python_version >= "3.7"
asyncssh==2.10.1; python_version >= "3.7"
asynctest==0.13.0; python_version < "3.8" and python_version >= "3.7"
atpublic==3.0.1; python_version >= "3.7"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
babel==2.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
backcall==0.2.0; python_version >= "3.8"
beautifulsoup4==4.10.0; python_full_version > "3.0.0" and python_version >= "3.7"
black==22.3.0; python_full_version >= "3.6.2"
bleach==4.1.0; python_version >= "3.7"
cached-property==1.5.2; python_version < "3.8" and python_version >= "3.7"
cachetools==5.0.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
certifi==2021.10.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
cffi==1.15.0; implementation_name == "pypy" and python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.7"
click==8.1.2; python_version >= "3.7" and python_full_version >= "3.6.2"
cloudpickle==2.0.0; python_version >= "3.7"
colorama==0.4.4; python_full_version >= "3.6.2" and python_version >= "3.7" and platform_system == "Windows" and (python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0") and python_version < "4.0" and sys_platform == "win32"
commonmark==0.9.1; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
configobj==5.0.6; python_version >= "3.7"
cryptography==36.0.2; python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
databricks-cli==0.16.6; python_version >= "3.7"
debugpy==1.6.0; python_version >= "3.7"
decorator==5.1.1; python_version >= "3.8"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
dictdiffer==0.9.0; python_version >= "3.7"
dill==0.3.4; python_full_version >= "3.6.2" and python_version < "4.0"
diskcache==5.4.0; python_version >= "3.7"
distro==1.7.0; python_version >= "3.7"
docker==5.0.3; python_version >= "3.7"
dodgy==0.2.1; python_full_version >= "3.6.2" and python_version < "4.0"
dpath==2.0.6; python_version >= "3.7"
dulwich==0.20.35; python_version >= "3.7"
dvc-render==0.0.5; python_version >= "3.7"
dvc==2.10.2; python_version >= "3.7"
dvclive==0.7.3; python_version >= "3.7"
entrypoints==0.4; python_version >= "3.7"
executing==0.8.3; python_version >= "3.8"
flake8-polyfill==1.0.2; python_full_version >= "3.6.2" and python_version < "4.0"
flake8==2.3.0; python_full_version >= "3.6.2" and python_version < "4.0"
flask==2.1.1; python_version >= "3.7"
flatbuffers==2.0
flatten-dict==0.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
flufl.lock==7.0; python_version >= "3.7"
fonttools==4.31.2; python_version >= "3.7"
frozenlist==1.3.0; python_version >= "3.7"
fsspec==2022.3.0
ftfy==6.1.1; python_version >= "3.7" and python_version < "4"
funcy==1.17
future==0.18.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
gast==0.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.27; python_version >= "3.7"
google-api-core==2.7.2; python_version >= "3.7"
google-api-python-client==2.45.0; python_version >= "3.7"
google-auth-httplib2==0.1.0; python_version >= "3.7"
google-auth-oauthlib==0.4.6; python_version >= "3.6"
google-auth==2.6.5; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
google-pasta==0.2.0
googleapis-common-protos==1.56.0; python_version >= "3.7"
grandalf==0.6; python_version >= "3.7"
greenlet==1.1.2; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") and python_full_version >= "3.5.0"
grpcio==1.45.0; python_version >= "3.6"
gunicorn==20.1.0; platform_system != "Windows" and python_version >= "3.7"
h5py==3.6.0; python_version >= "3.7"
httplib2==0.20.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.4.0"
hydra-core==1.1.2
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.7"
imageio==2.16.1; python_version >= "3.7"
importlib-metadata==4.11.3; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.2" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "3.8") and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "3.8")
importlib-resources==5.2.3; python_version >= "3.7" and python_version < "3.8" and sys_platform == "win32"
ipykernel==6.11.0; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==8.2.0; python_version >= "3.8"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
itsdangerous==2.1.2; python_version >= "3.7"
jaraco.classes==3.2.1; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jaraco.collections==3.5.1; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jaraco.context==4.1.1; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jaraco.functools==3.5.0; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jaraco.structures==2.1.0; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jaraco.text==3.7.0; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jaraco.ui==2.3.0; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jaraco.windows==5.7.0; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
jedi==0.18.1; python_version >= "3.8"
jinja2==3.1.1; python_version >= "3.7"
joblib==1.1.0; python_version >= "3.7"
json5==0.9.6; python_version >= "3.7"
jsonschema==4.4.0; python_version >= "3.7"
jupyter-client==7.2.1; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-core==4.9.2; python_version >= "3.7"
jupyter-http-over-ws==0.0.8
jupyter-server==1.16.0; python_version >= "3.7"
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-server==2.12.0; python_version >= "3.7"
jupyterlab==3.3.2; python_version >= "3.7"
keras-preprocessing==1.1.2
keras==2.7.0
kiwisolver==1.4.2; python_version >= "3.7"
lazy-object-proxy==1.7.1; python_full_version >= "3.6.2" and python_version < "4.0" and python_version >= "3.6"
libclang==13.0.0
llvmlite==0.36.0; python_version >= "3.6" and python_version < "3.10"
mailchecker==4.1.15; python_version >= "3.7"
mako==1.2.0; python_version >= "3.7"
markdown==3.3.6; python_version >= "3.6"
markupsafe==2.1.1; python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.8"
matplotlib==3.5.1; python_version >= "3.7"
mccabe==0.6.1; python_full_version >= "3.6.2" and python_version < "4.0"
mistune==0.8.4; python_version >= "3.7"
mlflow==1.24.0; python_version >= "3.7"
more-itertools==8.12.0; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
multidict==6.0.2; python_version >= "3.7"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.6"
mypy==0.942; python_version >= "3.6"
nanotime==0.5.2; python_version >= "3.7"
nbclassic==0.3.7; python_version >= "3.7"
nbclient==0.5.13; python_full_version >= "3.7.0" and python_version >= "3.7"
nbconvert==6.4.5; python_version >= "3.7"
nbformat==5.2.0; python_full_version >= "3.7.0" and python_version >= "3.7"
nest-asyncio==1.5.5; python_full_version >= "3.7.0" and python_version >= "3.7"
networkx==2.7.1; python_version >= "3.8"
notebook-shim==0.1.0; python_version >= "3.7"
notebook==6.4.10; python_version >= "3.7"
numba==0.53.1; python_version >= "3.6" and python_version < "3.10"
numpy==1.22.3
oauth2client==4.1.3; python_version >= "3.7"
oauthlib==3.2.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
omegaconf==2.1.2; python_version >= "3.6"
opt-einsum==3.3.0; python_version >= "3.5"
packaging==21.3; python_version >= "3.7"
pandas==1.4.2; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.3; python_version >= "3.8"
path==16.4.0; python_version < "3.8" and sys_platform == "win32" and python_version >= "3.7"
pathspec==0.9.0; python_full_version >= "3.6.2" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
pep8-naming==0.10.0; python_full_version >= "3.6.2" and python_version < "4.0"
pep8==1.7.1; python_full_version >= "3.6.2" and python_version < "4.0"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8"
phonenumbers==8.12.47; python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.8"
pillow==9.1.0; python_version >= "3.7"
platformdirs==2.5.1; python_version >= "3.7" and python_full_version >= "3.6.2" and python_version < "4.0"
prometheus-client==0.13.1; python_version >= "3.7"
prometheus-flask-exporter==0.19.0; python_version >= "3.7"
prompt-toolkit==3.0.28; python_full_version >= "3.6.2" and python_version >= "3.8"
prospector==1.7.7; python_full_version >= "3.6.2" and python_version < "4.0"
protobuf==3.20.0; python_version >= "3.7"
psutil==5.9.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.8" and os_name != "nt"
pure-eval==0.2.2; python_version >= "3.8"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.5.0"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
pycodestyle==2.8.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.4.0"
pydocstyle==6.1.1; python_version >= "3.6"
pydot==1.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pydrive2==1.10.1; python_version >= "3.7"
pyflakes==2.4.0; python_full_version >= "3.6.2" and python_version < "4.0"
pygit2==1.9.1; python_version >= "3.7"
pygments==2.11.2; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.8"
pygtrie==2.4.2; python_version >= "3.7"
pyjwt==2.3.0; python_version >= "3.7"
pylint-celery==0.3; python_full_version >= "3.6.2" and python_version < "4.0"
pylint-django==2.5.3; python_full_version >= "3.6.2" and python_version < "4.0"
pylint-flask==0.6; python_full_version >= "3.6.2" and python_version < "4.0"
pylint-plugin-utils==0.7; python_full_version >= "3.6.2" and python_version < "4.0"
pylint==2.13.4; python_full_version >= "3.6.2" and python_version < "4.0"
pyopenssl==22.0.0; python_version >= "3.7"
pyparsing==3.0.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pyrsistent==0.18.1; python_version >= "3.7"
python-benedict==0.25.0; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-fsutil==0.6.0; python_version >= "3.7"
python-slugify==6.1.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pytz==2022.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
pywavelets==1.3.0; python_version >= "3.7"
pywin32==227; sys_platform == "win32" and python_version >= "3.7" and platform_python_implementation != "PyPy"
pywinpty==2.0.5; os_name == "nt" and python_version >= "3.7"
pyyaml==6.0; python_full_version >= "3.6.2" and python_version < "4.0" and python_version >= "3.7"
pyzmq==22.3.0; python_version >= "3.7"
querystring-parser==1.2.4; python_version >= "3.7"
requests-oauthlib==1.3.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
requirements-detector==0.7; python_full_version >= "3.6.2" and python_version < "4.0"
rich==12.2.0; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
rsa==4.8; python_version >= "3.7" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.7"
ruamel.yaml==0.17.21; python_version >= "3.7"
scikit-image==0.19.2; python_version >= "3.7"
scikit-learn==1.0.2; python_version >= "3.7"
scipy==1.8.0; python_version >= "3.8" and python_version < "3.11"
scmrepo==0.0.19; python_version >= "3.7"
segyio==1.9.9
send2trash==1.8.0; python_version >= "3.7"
setoptconf-tmp==0.3.1; python_full_version >= "3.6.2" and python_version < "4.0"
setuptools-scm==6.4.2; python_version >= "3.7"
shap==0.40.0
shortuuid==1.0.8; python_version >= "3.7"
shtab==1.5.4; python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
slicer==0.0.7; python_version >= "3.6"
smmap==5.0.0; python_version >= "3.7"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.7"
snowballstemmer==2.2.0; python_full_version >= "3.6.2" and python_version < "4.0" and python_version >= "3.6"
soupsieve==2.3.1; python_full_version > "3.0.0" and python_version >= "3.7"
sqlalchemy==1.4.34; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.7"
stack-data==0.2.0; python_version >= "3.8"
tabulate==0.8.9; python_version >= "3.7"
tensorboard-data-server==0.6.1; python_version >= "3.6"
tensorboard-plugin-wit==1.8.1; python_version >= "3.6"
tensorboard==2.8.0; python_version >= "3.6"
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.24.0; python_version >= "3.7" and python_version < "3.11"
tensorflow==2.7.0
termcolor==1.1.0
terminado==0.13.3; python_version >= "3.7"
testpath==0.6.0; python_version >= "3.7"
text-unidecode==1.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.7"
tifffile==2022.3.25; python_version >= "3.8"
toml==0.10.2; python_full_version >= "3.6.2" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
tomli==2.0.1; python_version < "3.11" and python_full_version >= "3.6.2" and python_version >= "3.7"
tornado==6.1; python_version >= "3.7"
tqdm==4.63.1
traitlets==5.1.1; python_full_version >= "3.7.0" and python_version >= "3.8"
typed-ast==1.5.3; python_version < "3.8" and implementation_name == "cpython" and python_full_version >= "3.6.2" and python_version >= "3.6"
typing-extensions==4.1.1; python_version < "3.8" and python_full_version >= "3.6.3" and python_version >= "3.7" and python_full_version < "4.0.0"
uritemplate==4.1.1; python_version >= "3.7"
urllib3==1.26.9; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
voluptuous==0.13.1; python_version >= "3.7"
waitress==2.1.1; platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.8" and python_version < "4"
webencodings==0.5.1; python_version >= "3.7"
websocket-client==1.3.2; python_version >= "3.7"
werkzeug==2.1.1; python_version >= "3.7"
wrapt==1.14.0; python_full_version >= "3.6.2" and python_version < "4.0"
xmltodict==0.12.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
yarl==1.7.2; python_version >= "3.7"
zc.lockfile==2.0; python_version >= "3.7"
zipp==3.7.0; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.2"
